:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  background-color: #242424;

  --a-text: #646cff;
  --a-text-hover: #535bf2;

  --btn-bg: #1a1a1a;
  --btn-text-hover: #646cff;
}
